{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scholarships with admission | Just Rokket</title>
  <meta charset="utf-8">
  <meta name="language" content="en-us">
  <meta name="robots" content="noodp"/>
  <link rel="canonical" href="https://justrokket.com" />
  <meta name="description"content="Get scholarship with admission to top colleges for MBA, Engineering, Pharmacy, Education, Animation and lots of other courses. Apply online for admission to graduation and post graduation courses across colleges in India.">
  <meta name="copyright" content="2017 Explore Edu Tech Private Limited">
  <meta name="content-language" content="EN">
  <meta name="publisher" content="https://justrokket.com/">
    <meta name="contact" content="service@justrokket.com">
    <meta property="og:image" content="{% static 'images/featured.jpg' %}">
  <meta name="theme-color" content="#187e89">
  <!--Facebook Tags-->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Scholarships with admission | Just Rokket">
  <meta property="og:description" content="Get scholarship with admission to top colleges for MBA, Engineering, Pharmacy, Education, Animation and lots of other courses. Apply online for admission to graduation and post graduation courses across colleges in India.">
  <meta property="og:url" content="https://justrokket.com">
  <meta property="og:site_name" content="Just Rokket | Scholarships with admission">
  <meta property="og:image" content="{% static 'images/featured.jpg' %}">
  <!--Twitter Tags-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="https://justrokket.com">
  <meta name="twitter:title" content="Scholarships with admission | Just Rokket">
  <meta name="twitter:description" content="Get scholarship with admission to top colleges for MBA, Engineering, Pharmacy, Education, Animation and lots of other courses. Apply online for admission to graduation and post graduation courses across colleges in India.">
  <meta name="twitter:image" content="{% static 'images/featured.jpg' %}">

  <!--Google+ Tags-->
  <meta itemprop="name" content="Scholarships with admission | Just Rokket">
  <meta itemprop="description" content="Get scholarship with admission to top colleges for MBA, Engineering, Pharmacy, Education, Animation and lots of other courses. Apply online for admission to graduation and post graduation courses across colleges in India.">
  <meta itemprop="image" content="{% static 'featured.jpg' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <link href="{% static 'css/new_home.css' %}" rel="stylesheet"/>

  <style>
      .testimonial .card img {
        margin: 0 45%;
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
  </style>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.community__slider').slick({

        slidesToScroll: 1,
        autoplaySpeed: 2000,
        mobileFirst:true,
        dots: true,
        autoplay: true,
        autoplaySpeed: 2000,
        responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
      });

      $('.story__slider').slick({
        autoplaySpeed: 2000,
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        adaptiveHeight: true
      });

      $('.testimonial__slider').slick({
        autoplaySpeed: 2000,
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        adaptiveHeight: true
      });

    });
  </script>


{% endblock meta %}

{% block menu_bar_custom %}
<li class="" style=""><a href="/admissions" style="text-decoration: none;">Apply to College</a></li>
{% endblock menu_bar_custom %}

{% block content %}
<body class="home">
  <div class="hero">
    <div class="hero__inner">

        <h2 class="hero__title">answers. advice. admission</h2>
        <img src="{% static 'images/img/Center_graphic.svg' %}" alt="" class="hero__img">
        <p class="hero__subTitle"><b>a community </b> to help you get into</p>
        <p class="hero__subTitle">Right college, skills and careers.</p>
        <div class="row">
          <div class="col-md-12 btn__wrapper text-center">
            <a href="/question-listing"class="btn btn__primary">TAKE ME TO THE COMMUNITY</a>
            <!-- <br/>
            <a href="/admissions"><u>NO, TAKE ME TO THE ADMISSION</u></a> -->
          </div>

        </div>
    </div>
  </div>
  <div class="help">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <p class="help__title">How just rokket helps you</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="card">
              <img  src="{% static 'images/img/Alien.svg' %}" alt="">
              <p>connect with the community for right advice and answers</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="card">
            <img  src="{% static 'images/img/Rokket.svg' %}" alt="">
            <p>Apply Directly to the college for admission</p>
          </div>

        </div>
        <div class="col-md-3 col-sm-3">
          <div class="card">
            <img  src="{% static 'images/img/Direction.svg' %}" alt="">
            <p>Get a  "1 on 1" counselling for careers, colleges and higher orbit. </p>
          </div>

        </div>
        <div class="col-md-3 col-sm-3
        ">
          <div class="card">
            <img  src="{% static 'images/img/Spaceman.svg' %}" alt="">
            <p>connect with people who have made it to higher orbits. get inspired.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="community">
      
          <div class="container">
      
            <h3 class="community__title">Get community advice on colleges,</h3>
            <h3 class="community__title">courses and career paths</h3>
      
            <div class="community__slider">
      
      
            {% for expert in experts %}
              <div class="card">
                <div class="img__wrapper">
                  {% if expert.profile_image%} <img  src="{{expert.profile_image.url}}" alt="" class="img-circle img-responsive">
                  {% else %} <img  src="{% static 'images/img/circle_Img.jpg' %}" alt=""> {%endif%}
      
                </div>
                <h3 class="card__title">{{expert.name}}</h3>
                <p class="card__profile">{{expert.user_type_display}}</p>
                <p class="card__univ">{{expert.who_i_am}}</p>
              </div>
            {% endfor %}
      
      
            </div>
            <div class="text-center">
              <a href="/question-listing" class="btn btn__primary">ASK A QUESTION TO THE COMMUNITY</a>
            </div>
          </div>
      
      
        </div>
  <div class="apply">
    <div>
      <h3 class="apply__title">Apply directly to the colleges for admission</h3>
      <img  src="{% static 'images/img/Laptop_Image.png' %}" alt="">
      </div>
      <br/>
    <a class="btn btn__primary" href="/admissions">APPLY TO COLLEGES</a>
  </div>
  <div class="college">
    <div class=" container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="college__title">PARTNER COLLEGES</h3>
        </div>
        <div class="card__wrapper row">

          {% for i in view.get_p_colleges %}
            <div class="col-md-3 col-sm-6">
              <div class="card__inner">
                <img  src="{{ i.logo.url }}" alt="">
                <p class="title">{{ i.title }}</p>
              </div>
            </div>
          {% endfor %}
<!--
          <div class="col-md-3 col-sm-6">
            <div class="card__inner">
              <img  src="{% static 'images/img/Amity.svg' %}" alt="">
              <p class="title">AMITY UNIVERSITY</p>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
  <div class="college rocketers">
    <div class=" container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="college__title">SOME ROKKETERS</h3>
        </div>
        <div class="card__wrapper row">


          {% for i in view.get_rokketeers %}
            <div class="col-md-3 col-sm-6">
              <div class="card__inner">
                <img  src="{{ i.image.url }}" alt="">
                <p class="title">{{ i.name }}</p>
                <p class="subtitle">{{ i.description }}</p>
              </div>
            </div>
          {% endfor %}
          <!-- <div class="col-md-3 col-sm-6">
            <div class="card__inner">
              <img  src="{% static 'images/img/face_Image.jpg' %}" alt="">
              <p class="title">AMITY UNIVERSITY</p>
              <p class="subtitle">Amity University</p>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class="story">
    <h3 class="story__title">KARMA STORIES</h3>
    <p class="story__subTitle">How ordinary people have made a success of their lives</p>
    <div class="container">

        <div class="story__slider">
          <div class="row card">
            <div class="col-md-6">
              <img src="http://dr.du.ac.in/data0/images/hostel.jpg" alt="">
            </div>
            <div class="col-md-6">
              <h3 class="card__title">Some Title</h3>
              <p class="card__subTitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi unde sunt eos corrupti quo ducimus id tempore cupiditate recusandae eveniet vitae quibusdam, facilis, modi delectus a dolores libero non nam.</p>

              <p class="card__subTitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi unde sunt eos corrupti quo ducimus id tempore cupiditate recusandae eveniet vitae quibusdam, facilis, modi delectus a dolores libero non nam.</p>

            </div>
          </div>
          <div class="row card">
            <div class="col-md-6">
              <img src="http://dr.du.ac.in/data0/images/hostel.jpg" alt="">
            </div>
            <div class="col-md-6">
              <h3 class="card__title">Some Title</h3>
              <p class="card__subTitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi unde sunt eos corrupti quo ducimus id tempore cupiditate recusandae eveniet vitae quibusdam, facilis, modi delectus a dolores libero non nam.</p>

              <p class="card__subTitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi unde sunt eos corrupti quo ducimus id tempore cupiditate recusandae eveniet vitae quibusdam, facilis, modi delectus a dolores libero non nam.</p>

            </div>
          </div>
        </div>
    </div>
  </div> {% endcomment %}
  <div class="testimonial">
    <h3 class="testimonial__title">testimonials</h3>
    <div class="container">
      <div class="testimonial__slider">
        <div class="row card">
          <div class="col-md-12">
              <div class="col-md-12 text-center">
                <img  src="{% static 'images/testimonials1.jpg' %}" alt="">
              </div>
              <div class="desc">
                <p>“Just Rokket is a great site to connect with Colleges. Why? It not only enables you to apply for admission, it also enables you to get confirmed scholarship offers from colleges! What’s more is that your application goes only to the colleges you select and your data is not sold to other colleges – so no harassment from their tele callers 😊’’</p>
              </div>
              <div class="details">
                <h3>Archesha Wadhwa</h3>
                <p><span>Gargi college</span> | <span>#Psychology</span></p>
              </div>
          </div>
        </div>
        {% comment %} <div class="row card">
          <div class="col-md-12">
            <div class="col-md-12 text-center">
              <img  src="{% static 'images/img/circle_Img.jpg' %}" alt="">
            </div>
              <div class="desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus tempore quasi consequuntur voluptatem sunt. Quibusdam magnam laudantium odio tempora obcaecati culpa consectetur numquam, esse, vero et deleniti vel incidunt nisi.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate labore velit beatae perspiciatis autem adipisci iure eveniet in cumque facilis doloremque alias veritatis praesentium sequi sapiente illo, ad ut ab.</p>
              </div>
              <div class="details">
                <h3>Sonu Yadav</h3>
                <p><span>amity university</span> | <span>#Marketing</span></p>
              </div>
          </div>
        </div>
        <div class="row card">
          <div class="col-md-12">
            <div class="col-md-12 text-center">
              <img  src="{% static 'images/img/circle_Img.jpg' %}" alt="">
            </div>
              <div class="desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus tempore quasi consequuntur voluptatem sunt. Quibusdam magnam laudantium odio tempora obcaecati culpa consectetur numquam, esse, vero et deleniti vel incidunt nisi.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate labore velit beatae perspiciatis autem adipisci iure eveniet in cumque facilis doloremque alias veritatis praesentium sequi sapiente illo, ad ut ab.</p>
              </div>
              <div class="details">
                <h3>Sonu Yadav</h3>
                <p><span>amity university</span> | <span>#Marketing</span></p>
              </div>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </div>

  <!-- <div class="newsletter">
    <div class="container">
      <div class="newsletter__inner">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="col-sm-3">
              <p class="icon">
                <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
              </p>
            </div>

            <div class="col-sm-9">
              <h3 class="title">Signup for Newsletter</h3>
              <p class="subTitle">Get to know about new scholarships getting listed on Just Rokket and get insights into careers, exam prep tips and great stories.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <form class="form-inline" method="post">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Your Email Address">
              </div>
              <button type="submit" class="btn btn__primary btn__primary--sm">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</body>

{% endblock %}
