{% extends 'base.html' %}
{% load static from staticfiles %}
{% block meta %}
    <title>Refund Assurance - Just Rokket</title>
	<meta charset="utf-8">
	<meta name="language" content="en-us">
	<meta name="robots" content="noodp"/>
	<link rel="canonical" href="https://justrokket.com/refund-policy/" />
	<meta name="description"content="Our refund policy is geared to make the experience on Just Rokket convenient! You can Request us anytime to cancel your pre-registration and refund the entire amount.">
	<meta name="copyright" content="2017 Explore Edu Tech Private Limited">
	<meta name="content-language" content="EN">
	<meta name="publisher" content="https://justrokket.com/">
    <meta name="contact" content="service@justrokket.com">
    <meta property="og:image" content="{% static 'featured.jpg' %}">
	<meta name="theme-color" content="#187e89">
	<!--Facebook Tags-->
	<meta property="og:type" content="website">
	<meta property="og:title" content="Refund Assurance - Just Rokket">
	<meta property="og:description" content="Our refund policy is geared to make the experience on Just Rokket convenient! You can Request us anytime to cancel your pre-registration and refund the entire amount.">
	<meta property="og:url" content="https://justrokket.com/refund-policy/">
	<meta property="og:site_name" content="Just Rokket | Scholarships with admission">
	<meta property="og:image" content="{% static 'featured.jpg' %}">

	<!--Twitter Tags-->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="https://justrokket.com/refund-policy/">
	<meta name="twitter:title" content="Refund Assurance - Just Rokket">
	<meta name="twitter:description" content="Our refund policy is geared to make the experience on Just Rokket convenient! You can Request us anytime to cancel your pre-registration and refund the entire amount.">
	<meta name="twitter:image" content="{% static 'featured.jpg' %}">

	<!--Google+ Tags-->
	<meta itemprop="name" content="Refund Assurance - Just Rokket">
	<meta itemprop="description" content="Our refund policy is geared to make the experience on Just Rokket convenient! You can Request us anytime to cancel your pre-registration and refund the entire amount.">
	<meta itemprop="image" content="{% static 'featured.jpg' %}">
{% endblock meta %}

{% block content %}
    <div class="breadcrumb-section" style="background:url({% static 'images/banner-image.jpg' %}); background-size: cover;">
	    <div class="container">
            <div class="row">
                <header class="entry-header">
                <h1 class="entry-title">Refund Policy - Just Rokket</h1>
                </header>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row about-us-main-box">
            <div class="col-md-12">
                
                    <h2>Our refund policy is geared to make the experience on Just Rokket convenient!
                    </h2>
                    <p>We cancel your pre-registration and refund the entire pre-registration amount whenever you request the same, provided that you have not used the Just Rokket voucher issued to you against the payment. This can be either:
                    <ol>
                        <li>When you decide not to join an institution after getting admission into it</li>
                        <li>Or when the institution, to which you had applied, decides not to confirm your selection.</li>
                    </ol>
                    </p>

                    <p>You are considered to have used the voucher when you join the institution.<br>You are eligible for a full refund also in case you find a discrepancy between the offer selected by you on Just Rokket and that which you get from the institution. We require that that any request for cancellation of pre-registration and refund of the pre-registration amount be submitted, along with reason for the same, through your user account. The maximum period to which a refund of pre-registration amount can be applied for, through one’s user account, is till 15 days after the concerned institution’s session has started.</p>

                    <p>Note should be made of the fact that while we try to process a refund request within 15 days of its receipt, the refund process can be lengthy at times due to the fact that we have to notify the institution of your withdrawal and get confirmation from them that you did not enrol. </p>
            </div>
        </div>
    </div>

{% endblock %}