{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}
<title>Just Rokket</title>
{% endblock title %}
{% block content %}
<style>
    input.red-checkbox{
        height: 18px;
        width: 18px;
    }
</style>
<div class="breadcrumb-section" style="background:url({% static 'images/banner-image.jpg' %}); background-size: cover;">
<div class="container">
    <div class="row">
        <header class="entry-header">
        <h1 class="entry-title">Thank You</h1>
        </header>
    </div>
</div>
</div>
<section style="background-color: #f4f4f4;">
<div style="background-color: #fff;">
    <div class="container">
        <span class="rale-3 congratulation-text">
        <h3>Congratulations for pre-registering for your ROKKET offer of scholarship</h3>
        </span>
    </div>
</div>
<div class="container">
    <div class="col-md-12 pl-0 rocket-scholrship-cover-box box-rockket-mobile">
        <div class="col-md-4 duration-box-year-mobile hidden-sm hidden-md hidden-lg">
            <center><img src="{{ view.get_selection.college.logo.url }}" style="min-height: 75px;max-height: 100px;"></center>
            <h4 class="course-with-text"> {{ get_selection.course_name }}</h4>
            <h4 class="text-bottm-bordr text-center">{{ view.get_selection.college.name }}</h4>
            <p class="text-center">{{ view.get_selection.college.street_1 }}, {{ view.get_selection.college.city }}<br>Session Starts in {{ view.get_selection.college_qualification.session_start|date:"M Y" }}</p><br>
            <p class="rale-3 text-center">Duration {{ view.get_selection.college_qualification.qualification.duration }} Years</p>
            <div class="col-md-12">
                <div class="row mt-e1">
                    <div class="col-md-10 col-md-offset-1 pr-0 pl-0">
                        <div class="panel panel-default panel-new-box" >
                            <div class="panel-body box-mobile-center-text">
                                <h4 class="raleway saving-text">Fees Per Year</h4>
                                <h4 class="raleway"><span style="color:#187e89;">Rs. {{ view.get_selection.final_fee }}</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-e1">
                    <div class="col-md-10 col-md-offset-1 pr-0 pl-0" style="">
                        <div class="panel panel-default panel-new-box">
                            <div class="panel-body box-mobile-center-text">
                                <h4 class="raleway saving-text">Savings Per Year</h4>
                                <h4 class="raleway" style="color:#187e89;">Rs. {{ view.get_selection.savings }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-e1">
                    <div class="col-md-10 col-md-offset-1 pl-0 pr-0">
                        <div class="panel panel-default panel-new-box">
                            <div class="panel-body box-mobile-center-text">
                                <h4 class="raleway saving-text" >Scholarship</h4>
                                <h4 style="color: green; display: inline; vertical-align: middle;">{{ view.get_selection.scholarship }} %</h4><br>
                                <b class="raleway" style="color: #888;">( Till Course End )</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 rocket-scholrship-body">
            <ol type="1">
                <li>The college will close the next steps towards admission as per schedule list below.<br>
                <strong>Selection steps within</strong> {{ view.get_selection.college_qualification.nst_closure_within }} days.<br>
                <strong>Declaration of results within</strong> {{ view.get_selection.college_qualification.conf_within }} days. 
                </li>
                <li>The selection steps for the admission are:<br>
                <strong>{{ view.get_selection.college_qualification.next_selection_steps|linebreaks }}</strong></li>
                <li>You are required to submit a copy of the 'ROKKET Scholarship' voucher along with the admission documents (proofs and college registration form) when submitting the same to the college registration. </li>
                <li>A copy of the 'ROKKET Scholarship' voucher is also required to be submitted in the accounts department of the college when you join the college.</li>
                <li>Information about the 'ROKKET Scholarship' offer and other details mentioned here are a part of the offer letter issued by the college after selection. Please ensure to confirm the same for any discrepancy</li>
                {% if view.get_selection.search.screen_6_text %}<li>{{ view.get_selection.search.screen_6_text }}</li>{% endif %}
            </ol>
            <!-- <div class="col-md-12 share-invite-box">
                <h4> Share & Invite</h4>
                <p class="please-send-text"><input class="red-checkbox red-checkbox-icon" type="checkbox" value="invites" checked>&nbsp; <font class="please-send-text">Please send an invite to all my friends to check out JUST ROKKET</font></p>
            </div> -->
                <a class="btn btn-lg btn-orange View-button-profile" href="/profile/{{ view.request.user.id }}">View Your Profile<i class="lnr lnr-arrow-right"></i> </a>
        </div>
        <div class="col-md-4 duration-box-year-mobile hidden-xs">
            <center><img src="{{ view.get_selection.college.logo.url }}" style="min-height: 75px;max-height: 100px;"></center>
            <h4 class="course-with-text"> {{ get_selection.course_name }}</h4>
            <h4 class="text-bottm-bordr text-center">{{ view.get_selection.college.name }}</h4>
            <p class="text-center">{{ view.get_selection.college.street_1 }}, {{ view.get_selection.college.city }}<br>Session Starts in {{ view.get_selection.college_qualification.session_start|date:"M Y" }}</p><br>
            <p class="rale-3 text-center">Duration {{ view.get_selection.college_qualification.qualification.duration }} Years</p>
            <div class="col-md-12">
                <div class="row mt-e1">
                    <div class="col-md-10 col-md-offset-1 pr-0 pl-0">
                        <div class="panel panel-default panel-new-box" >
                            <div class="panel-body box-mobile-center-text">
                                <h4 class="raleway saving-text">Fees Per Year</h4>
                                <h4 class="raleway"><span style="color:#187e89;">Rs. {{ view.get_selection.final_fee }}</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-e1">
                    <div class="col-md-10 col-md-offset-1 pr-0 pl-0" style="">
                        <div class="panel panel-default panel-new-box">
                            <div class="panel-body box-mobile-center-text">
                                <h4 class="raleway saving-text">Savings Per Year</h4>
                                <h4 class="raleway" style="color:#187e89;">Rs. {{ view.get_selection.savings }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-e1">
                    <div class="col-md-10 col-md-offset-1 pl-0 pr-0">
                        <div class="panel panel-default panel-new-box">
                            <div class="panel-body box-mobile-center-text">
                                <h4 class="raleway saving-text" >Scholarship</h4> 
                                <h4 style="color: green; display: inline; vertical-align: middle;">{{ view.get_selection.scholarship }} %</h4><br>
                                <b class="raleway" style="color: #888;">( Till Course End )</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}