{% extends 'base.html' %}
{% load static from staticfiles%}
{% block meta %}
<title>Depend on us - Just Rokket</title>
	<meta charset="utf-8">
	<meta name="language" content="en-us">
	<meta name="robots" content="noodp"/>
	<link rel="canonical" href="https://justrokket.com/why-students-can-depend-on-us/"/>
	<meta name="description"content="You can depend on us to deliver high customer service levels. Email us or call us. We provide full refund assurance.">
	<meta name="copyright" content="2017 Explore Edu Tech Private Limited">
	<meta name="content-language" content="EN">
	<meta name="publisher" content="https://justrokket.com/">
    <meta name="contact" content="service@justrokket.com">
    <meta property="og:image" content="{% static 'featured.jpg' %}">
	<meta name="theme-color" content="#187e89">
	<!--Facebook Tags-->
	<meta property="og:type" content="website">
	<meta property="og:title" content="Depend on us - Just Rokket">
	<meta property="og:description" content="You can depend on us to deliver high customer service levels. Email us or call us. We provide full refund assurance.">
	<meta property="og:url" content="https://justrokket.com/why-students-can-depend-on-us/">
	<meta property="og:site_name" content="Just Rokket | Scholarships with admission">
	<meta property="og:image" content="{% static 'featured.jpg' %}">

	<!--Twitter Tags-->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="https://justrokket.com/why-students-can-depend-on-us/">
	<meta name="twitter:title" content="Depend on us - Just Rokket">
	<meta name="twitter:description" content="You can depend on us to deliver high customer service levels. Email us or call us. We provide full refund assurance.">
	<meta name="twitter:image" content="{% static 'featured.jpg' %}">

	<!--Google+ Tags-->
	<meta itemprop="name" content="Depend on us - Just Rokket">
	<meta itemprop="description" content="You can depend on us to deliver high customer service levels. Email us or call us. We provide full refund assurance.">
	<meta itemprop="image" content="{% static 'featured.jpg' %}">
{% endblock meta %}

{% block content %}
    <div class="breadcrumb-section" style="background:url({% static 'images/banner-image.jpg' %}); background-size: cover;">
	    <div class="container">
            <div class="row">
                <header class="entry-header">
                <h1 class="entry-title">Depend On Us - Just Rokket</h1>
                </header>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row about-us-main-box">
            <div class="col-md-12">
                    <h2>Your complete satisfaction is very important for us.</h2>

                    <p>We are committed to high customer service levels through all the following steps. Of course, we are growing and learning and you can depend on us for continuously raising the bar.</p>

                    <p>
                        <ol>
                            <li><p>We are available to answer your queries and doubts through the following service channels:<br>Mail us on <a href="#">service@justrokket.com</a><br>You can expect us to reply back or contact you within 24 hours.</p>
                                <p>Call us (Mon to saturday, 9 AM to 9 PM) on <a href="tel:8376840610"><b>+91 8376840610</b></a><br>Message us by clicking <a href="/contact-us"><b>here</b></a>.<br>You can expect us to reply back or contact you within 24 hours.</p>

                            </li>

                            <li><p>We give a full refund assurance. You can go through our refund policy <a href="/refund-assurance"><b>here</b></a>.<br>We try our best to close your cancellation request, in case you forward us one, within 15 days. This may at times get delayed since the institution has to confirm that you have not used the voucher issued. But rest assured, we take your satisfaction very seriously and will honour our commitment.</p>
                            </li>

                            <li><p>All offers extended to you are as per the agreements with our esteemed partner institutions. You can also confirm the scholarship offer being extended to you in the admission offer documents provided by the institution to you. In case of any discrepancy with the offer on Just Rokket, please bring it to our notice so that we can resolve the same.</p>
                            </li>

                        </ol>

                    </p>
                
            </div>
        </div>
    </div>

{% endblock %}